<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.tiregdev.testingapps">

    <permission
        android:protectionLevel="signature"
        android:name="id.tiregdev.testingapps.permission.C2D_MESSAGE" />
    <uses-permission
        android:name="id.tiregdev.testingapps.permission.C2D_MESSAGE" />

    <application
        android:name=".MesosferApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name="com.eyro.mesosfer.PushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.eyro.mesosfer.push.intent.RECEIVE" />
                <action android:name="com.eyro.mesosfer.push.intent.DELETE" />
                <action android:name="com.eyro.mesosfer.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.eyro.mesosfer.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                IMPORTANT: Change "id.tiregdev.testingapps" to match your app's
                package name.
                -->
                <category android:name="id.tiregdev.testingapps" />
            </intent-filter>
        </receiver>
        
        <activity
            android:name=".Login"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity
            android:name=".home"
            android:noHistory="true"/>
        <activity android:name=".splash"
            android:noHistory="true"/>
    </application>

</manifest>